        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: 'Roboto', sans-serif;
        }
        
        form {
            background: #eee;
            text-align: center;
            padding: 8px;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 60px;
            border-top: 1px solid #b5b5b5;
            border-bottom: 1px solid #b5b5b5;
        }
        
        form input {
            padding: 8px;
            width: 100%;
            max-width: 700px;
            margin-right: 0.5%;
            border: 2px solid #0066CC;
            border-radius: 4px;
        }
        
        form button {
            width: 10%;
            color: #fff;
            background: #0066CC;
            border-radius: 4px;
            padding: 10px;
            border: none;
            text-transform: uppercase;
        }
        
        .message-container {
            padding: 0;
            position: fixed;
            overflow-y: auto;
            height: 93%;
        }
        
        #messages {
            list-style-type: none;
            margin-top: 65px;
            padding: 16px;
            min-height: 100%;
        }
        
        #messages span {
            padding: 5px 10px;
            display: block;
        }
        
        #messages span:nth-child(even) {
            background: #eee;
            border-radius: 8px;
            max-width: 500px;
            margin-left: 10px;
        }
        
        #new-user {
            height: 100vh;
            padding: 12px;
            border-left: 1px solid #b5b5b5;
            background-color: #f6f6f6;
        }
        
        .sidebar {
            right: 0;
            position: fixed;
            height: 93%;
            overflow-y: auto;
            padding: 0;
            min-height: 100%;
            border-left: 1px solid #b5b5b5;
        }
        
        .activity-log-title {
            padding: 12px;
            text-align: center;
            color: #fff;
            background-color: #0066CC;
        }
        
        .activity-log-container {
            position: fixed;
            overflow-y: auto;
            height: 83.3%;
            width: 33.3%;
        }
        
        #activity-log {
            padding: 10px;
            min-height: 100%;
        }
        
        #activity-log>p {
            background-color: #f5f5f5;
            padding: 10px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            margin-bottom: 4px;
            border-left: 4px solid #06c;
        }
        
        nav#chat-navbar {
            max-width: 66.6%;
            min-height: 64px !important;
            background-color: #f6f6f6;
            -webkit-box-shadow: -1px 9px 47px -25px rgba(6, 29, 69, 1);
            -moz-box-shadow: -1px 9px 47px -25px rgba(6, 29, 69, 1);
            box-shadow: -1px 9px 47px -25px rgba(6, 29, 69, 1);
        }
        
        h5#chat-username {
            background: #F46;
            max-width: 175px;
            padding: 6px;
            border-radius: 4px;
            color: #FFF;
            font-weight: 900;
        }
        
        img {
            max-width: 480px;
            border-radius: 6px;
        }